# Game Server (NestJS)
GAME_SERVER_PORT=3000
GAME_SERVER_WS_PORT=3001
GAME_SERVER_GRPC_PORT=50051

# Context Service connection
CONTEXT_SERVICE_HOST=localhost
CONTEXT_SERVICE_GRPC_PORT=50052

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=hustsim_redis

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=hustsim
RABBITMQ_PASSWORD=hustsim_rabbit
